.app {
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 2px;
  max-width: 500px;
  padding: 2px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 10px;
}